| <?php 
| 	
| 	/*
| 	Template Name: Start Page Template
| 	*/
| 	
| ?>
| <?php get_header(); ?>
.container#maincontent
	.row#content
		.col-lg
			<?php if (have_posts()) : while (have_posts()) : the_post(); ?>
			
			|<h1><?php the_title(); ?></h1>

			<?php the_content(); ?>
			
			<?php endwhile; ?>
			
			<?php else : ?>
			
			h1 Not Found
			
			<?php endif; ?>
| <?php get_footer(); ?>
