| <?php 
| 	
| 	/*
| 	Template Name: Single Blog Posts Template
| 	*/
| 	
| ?>
| <?php get_header(); ?>
.container#maincontent
	.row.content-padding
		.col#blog-content
			<?php if (have_posts()) : while (have_posts()) : the_post(); ?>
			
			.blog-heading
				|<h1><?php the_title(); ?></h1>
				
				|<div class="date"><?php echo get_the_date(); ?></div>

				.post-thumbnail
					<?php the_post_thumbnail(); ?>

			<?php the_content(); ?>
			
			<?php endwhile; ?>
			
			.navigation
				.next-posts <?php next_posts_link(); ?>
				.prev-posts <?php previous_posts_link(); ?>
			
			<?php else : ?>
			
			h1 Not Found
			
			<?php endif; ?>
| <?php get_footer(); ?>
